services:
  backend:
    build:
      context: ./backend
    container_name: backend
    image: bakhtawar375/fr
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=0
      - DATABASE_URL=postgres://user:password@db:5432/dbname
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      args:
        - REACT_APP_API_URL=http://localhost:8000/api
    container_name: frontend
    image: bakhtawar375/bk
    ports:
      - "5173:5173"
    depends_on:
      - backend

  db:
    image: postgres:15-alpine
    container_name: database
    environment:
      - POSTGRES_DB=dbname
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
